
.title-playlist {
  width: 60%;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: #fff;
  background-color: #f4084b96;
  text-align: center;
  justify-content: center;
  margin-top: -760px;
  margin-left: 400px;
}
.artist {
  width: 30%;
}
.albums-artist {
  height: 20rem;
  overflow: hidden;
  margin-left: 100px;
}
.albums {
  height: 21rem;
  overflow: hidden;
  margin-top: -350px;
  margin-left: 150px;
}
.cancion {
  width: 50%;
  height: 19rem;
  overflow: hidden;
  margin-top: -450px;
  margin-left: 450px;

}

.card {
  width: 240px;
  height: auto;
}

.card-img-top {
  width: 215px;
  height: 190px;
}

.card-body {
  width: 210px;
}

.card-title {
  width: 200px;

}