.logo {
    max-width: 15rem;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
}
.menu{
    display: block;
    padding: 0;
    width: 12vw;
    height: 90vh;
    background-color: #000000d7;
    margin-top: 2px;
    margin-left: 5px;

}
.list {
    list-style-type: none;
    background-color: transparent;
    display: block;
    margin-top: 50px;
}

.list li a {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 30px;
    color: #ffffff;
}
.open,
.cerrar {
    display: none;
}
.cerrar {
    display: none;
}
.nav.visible {
    background-color: #000;
}

@media  screen and (max-width: 550px) {
.open {
    display: block;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    margin-left: 100px;
    margin-top: 20px;
}
.cerrar {
    display: block;
    border: 0;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    margin-left: 5px;
}

.menu {
    opacity: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    padding: 2rem;
    color: #ffffff;
    margin-left: 50px;
}
.nav.visible {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
}

.nav-list {
    flex-direction: column;
    align-items: end;
    background-color: transparent;
}
.nav-list li a {
    align-items: center;
    background-color: transparent;
}
}
    
