.text-location {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.fondo-locals {
  background-color: #f4084b77;
  padding: 30px;
}

.acceso {
  background-color: black;
  text-align: center;
}