.texto {
  color: aliceblue;
  margin-top: 80px;
}

#intro {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #0b1230;
  flex-direction: column;
  align-items: center;
}
.button-container {
    display: flex;
    width: 400px;
    height: 150px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 80px;
    margin-left: 80px;
  }

.textIntro {
  width: 500px;
  height: auto;
  margin-left: 60px;
}

.popUp {
    display: flex;
    font-family: 'Bangers', cursive;
    width: 100%;
    height: 99vh;
    animation: emergente 1s 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
  }
  button a {
    color: inherit; /* para mantener el color del texto del botón */
    text-decoration: none; /* para quitar el subrayado */
  }
  
  button {
    width: 00px; /* Ajusta según sea necesario */
  } 
 
