/* Estilos para los pop ups */
#popUpsContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/images/speakeasyFondoDos_m1argk.png');
    background-size: cover;
    flex-direction: column;
    align-items: center;
  }
  .popUp {
    display: flex;
    width: 100%;
    height: 99vh;
    animation: emergente 3s 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
  }
  .popUpDos {
    display: flex;
    width: 100%;
    height: 99vh;
    animation: emergente 1s 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
  }
  .fondoPop {
    display: flex;
  }
  .textPop {
    margin-left: -300px;
    margin-top: 180px;
    width: 25%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 5px;
    
  }
  #nextButton {
    margin-top: 20px;
    padding: 10px;
    background-color: blueviolet;
  }

@keyframes emergente {
  100% {
      visibility: visible;
      opacity: 1;
}
}

